.shape-input-form {
  background-color: #f0f8ff;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.selectionForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.form-group {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #34495e;
  font-size: 0.95em;
}

.select,
textarea,
.input-fields input[type="number"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #c0d9e7;
  border-radius: 6px;
  font-size: 0.8rem;
  box-sizing: border-box;
  transition:
    border-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.textarea__box {
  flex-basis: 55%;
}
.textareaTips {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: #29712c;
}
.textareaTips span {
  display: block;
  font-size: 0.7rem;
}
@media (min-width: 480px) {
  .textarea {
    display: flex;
    gap: 0.6rem;
    align-items: center;
  }
}
.select:focus,
textarea:focus,
.input-fields input[type="number"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  outline: none;
}

.input-fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 5px;
  padding: 10px;
  border: 1px dashed #aed6f1;
  border-radius: 8px;
  background-color: #eaf6ff;
  justify-items: center;
}
form .inputTitle {
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 0.1rem;
  font-family: serif;
  text-transform: capitalize;
  color: var(--text-color);
}

.button {
  display: block;
  align-self: flex-end;
  padding: 8px 25px;
  margin-top: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  transition:
    background-color 0.2s ease-in-out,
    transform 0.1s ease-in-out;
}

.button:hover:not(:disabled) {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.warning-msg {
  text-align: center;
  margin: 0.6rem;
  font-size: 0.9rem;
  color: #165218;
}
u {
  letter-spacing: 1px;
}
